@use "./base.scss";

// put your custom CSS here!
article p, article li{
  font-size: 1.1rem !important;
  line-height: 1.5 !important;
}

.tall-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-pair img {
  display: inline-block;
  width: 48%;
}

.img-pair img:nth-child(even) {
  float: right;
}

@media (max-width: 480px) {
  .me {
    display: none;
  }
}

@media (min-width: 480px) {
  .me {
    width: 70%;
    padding: 10px;
  }

  .welcome {
    display: flex;
    align-items: center;
  }
}


.external-icon {
  display: none;
}
